*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:"Playfair Display", serif;
    background:#0F172A;
    color:white;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}
.logo{
    font-size:2rem;
    font-family: "Playfair Display", serif;
    font-weight:700;
    /* display:flex;
    justify-content:center; */
    text-align:center;
    color:#6366F1;
}
.nav-links{
    display:flex;
    gap:30px;
}
.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:.3s;
}
.nav-links a:hover{
    color:#6366F1;
}